*{
	margin:  0;
	padding: 0;
	border:  0;
	
	font-family: 'Î¢ÈíÑÅºÚ';
	color: #fff;
		
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
body{
	background: -webkit-gradient(radial,50% 50%,0,50% 50%,1000,from(#fff),to(rgba(0,180,20,0.5)));
}
font,b{
	color:#000;
	font-size: 2em;
}
/* The Main Background of MIUI */
.phone{
	
	width:  480px;
	height: 800px;
	margin: 0 auto;
	border: 2px solid rgba(80,80,80,0.7);
	
	background: url(wallpaper.jpg) 0 0 no-repeat;
	overflow:   hidden;
	
	/* Make everything not selectable */
	-webkit-border-radius: 10px; 
	-moz-border-radius:    10px;
	-ms-border-radius:     10px;
	-o-border-radius:      10px;
	border-radius:         10px;
	
}

/* Status Bar */
.status_bar{
	
	margin:  0;
	padding: 0;
	background: rgba(54,54,54,0.7);
	float:   top;
	width:   480px;
	height:  40px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}
/* Status Bar icons */
.status_icon{
	width:   35px;
	height:  35px;
	padding: 0,5,0,5;
	text-align:center;
	background: transparent;
}
.wifi{
	float:right;
	/* Hide what's outside the area */
	overflow: hidden;
	margin-top: -10px;
	
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	transform: rotate
}	
.layser{
	margin: 0 auto;
	background: transparent;
}
.layser1{
	width: 60px;
	height: 60px;
	margin-top:  10px;
	margin-left: 10px;
	border-radius: 60px;
	border: 3px solid #fff;
}
.layser2{
	width: 50px;
	height: 50px;
	border-radius: 60px;
	margin-top: 2px;
	margin-left: 3px;
	border: 3px solid #fff;
}
.layser3{
	width: 40px;
	height: 40px;
	border-radius: 60px;
	margin-top: 2px;
	margin-left: 3px;
	border: 3px solid #fff;
}
.layser4{
	width: 30px;
	height: 30px;
	border-radius: 60px;
	margin-top: 2px;
	margin-left: 3px;
	background: #fff;
}

/* The signal status */
.signal{
	float: right;
	margin-top: 8px;
	padding: 5px;
	margin-left:3px;
}
/* Common styles for signal bars */
.signal_r{
	margin-left: -30px;
	margin-top: -5px;
}
.sb{
	width: 3px;
	background: #fff;
	float: left bottom;
}
.sb1{
	height: 5px;
	float: left;
}
.sb2{
	height: 10px;
	float: left;
	margin-left: 3px;
	margin-top: -5px;
}
.sb3{
	height: 15px;
	float: left;
	margin-left: 3px;
	margin-top: -10px;
}
.sb4{
	height: 20px;
	float: left;
	margin-left: 3px;
	margin-top: -15px;
}
.sb5{
	height: 25px;
	float: left;
	margin-left: 3px;
	margin-top: -20px;
}
/* StatusBar battery */
.battery{
	float: right;
	margin: 0 auto;
	padding: 3px;
	margin-top: -2px;
}
.battery_top{
	width:3px;
	height: 10px;
	background: #fff;
	
	margin-top: 15px;
	margin-left: -3px;
}
.battery_body{
	width:27px;
	height: 16px;
	background: transparent;
	border: 3px solid #fff;
	margin-top: -15px;
}
.battery_content{
	width: 23px;
	height: 12px;
	background: #fff;
	
	margin-top: -17px;
	margin-left: 5px;
}
/* Status bar clock*/
.time{
	float: right;
	padding: 9px;
	margin: 0 auto;
}
/* The desktop clock */
.clock{
	width: 200px;
	height: 200px;
	background: #eaeaea;
	margin:  0 auto;
	margin-top: 40px;
	text-align: center;
	
	-webkit-box-shadow: 0px 3px 5px rgba(54,54,54,0.7);
	-moz-box-shadow:    0px 3px 5px rgba(54,54,54,0.7);
	-ms-box-shadow:     0px 3px 5px rgba(54,54,54,0.7);
	-o-box-shadow:      0px 3px 5px rgba(54,54,54,0.7);
	box-shadow:         0px 3px 5px rgba(54,54,54,0.7);
	
	-webkit-border-radius: 240px;
	-moz-border-radius:    240px;
	-ms-border-radius:     240px;
	-o-border-radius:      240px;
	border-radius: 		   240px;
}
.inner_circle1{
	margin: 0 auto;
	width:  180px;
	height: 180px;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(180,180,180,0.8)),to(rgba(255,255,255,0.8)));
	margin-top:     -190px;
	border-radius: 160px;
}
.inner_circle2{
	margin: 0 auto;
	width:  170px;
	height: 170px;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(240,240,240,0.3)),to(rgba(160,160,160,0.2)));
	margin-top:     -235px;
	border-radius: 160px;
}
.clock_stick1{
	width:  10px;
	height: 170px;
	margin-left: 235px;
	margin-top:  -170px;
}
.stick1_end1{
	width: 10px;
	height: 35px;
}
.stick1_middle{
	width: 10px;
	height: 60px;
	background: #252525;
}
.stick1_end2{
	width: 10px;
	height: 75px;
}
.clock_stick2{
	width:  4px;
	height: 170px;
	margin-left: 240px;
	margin-top: -170px;
	z-index: 10;
}
.stick2_end1{
	width: 4px;
	height: 15px;
}
.stick2_middle{
	width: 4px;
	height: 95px;
	background: #252525;
}
.stick2_end2{
	width: 4px;
	height: 60px;
}
.nums{
	margin-top: 60px;
}
.num{
	width:2px;
	height: 170px;
	margin-left:85px;
}
.clock_num1{
	margin-top: -160px;
}
.clock_num2{
	margin-top: -168px;
	-webkit-transform: rotate(30deg);
	-moz-transform:    rotate(30deg);
	-o-transform:      rotate(30deg);
}
.clock_num3{
	margin-top: -168px;
	-webkit-transform: rotate(60deg);
	-moz-transfrom:    rotaet(60deg);
	-o-transform:      rotate(60deg);
}
.clock_num4{
	margin-top: -170px;
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-o-transform:      rotate(90deg);
}
.clock_num5{
	margin-top: -175px;
	-webkit-transform: rotate(120deg);
	-moz-transform:    rotate(120deg);
	-o-transform:      rotate(120deg);
}
.clock_num6{
	margin-top: -170px;
	-webkit-transform: rotate(150deg);
	-moz-transform:    rotate(150deg);
	-o-transform:      rotate(150deg);
}
.end1{
	width:2px;
	height:20px;
	background: #a0a0a0;
}
.end2{
	width:2px;
	height:20px;
	background: #a0a0a0;
}
.middle{
	width:2px;
	height:130px;
	background: transparent;
}

/* The bottom bar */
.bottom{

	float: bottom;
	width: 480px;
	height: 110px;
	margin-top: 425px;
	
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,0.3)),to(rgba(255,255,255,0.01)));
	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* Call Icon */
.call{
	
	width:       120px;
	height:      110px;
	padding-left: 20px;
	padding-top: 15px;
	
	overflow:    hidden;
	text-align:  center;
}
.call_bg{
	width:  80px;
	height: 80px;
	background: #fff;
	
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	-ms-border-radius:     5px;
	-o-border-radius:      5px;
	border-radius:         5px;
	
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#51c936),color-stop(0.5,#019516),to(#51c936));
}
.call_circles{
	width:  80px;
	height: 80px;
	margin-top: -80px;
	overflow: hidden;
	z-index: 10;
}
.call_circle1{
	width:78px;
	height:78px;
	margin-left: -1px;
	border-radius: 78px;
	border: 2px solid rgba(44,116,28,0.05);
}

.call_circle2{
	width:68px;
	height:68px;
	margin-top: -76px;
	margin-left: 4px;
	
	border-radius: 78px;
	border: 2px solid rgba(44,116,28,0.2);
}
.call_circle3{
	width:50px;
	height:50px;
	margin-top: -63px;
	margin-left: 14px;
	
	border-radius: 78px;
	border: 2px solid rgba(44,116,28,0.4);
}
.call_center{
	width:  49px;
	height: 49px;
	
	margin-top: -52px;
	margin-left: 16px;
	
	border-radius: 100px;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#b2fca1),color-stop(0.9,#8afb70),to(#bdffae));
}
.call_phone{
	
}
.gloss{
	width: 80px;
	height: 40px;
	margin-top: -80px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	-webkit-border-bottom-left-radius: 80px 20px;
	-webkit-border-bottom-right-radius: 80px 20px;
	
	background: rgba(255,255,255,0.1);
}
.phone_1{
	width: 6px;
	height: 8px;
	
	margin-top: -40px;
	margin-left: 30px;
	
	-webkit-transform: rotate(-20deg);
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 2px;
	
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 3px;
	
	background: #255d19;
}
.phone_2{
	width: 5px;
	height: 8px;
	
	margin-left: 30px;
	margin-top:  -5px;
	
	-webkit-transform: rotate(5deg);
	
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 3px;
	
	background: #255d19;
}
.phone_3{
	width: 25px;
	height: 24px;
	
	margin-left: 32px;
	margin-top:  -8px;
	
	-webkit-transform: rotate(-14deg);
	overflow: hidden;
}
.handle{
	width:  40px;
	height: 40px;
	
	margin-top:-20px;
	
	border-radius: 40px;
	border: 4px solid #255d19;
}
.phone_4{
	width: 5px;
	height: 8px;
	
	margin-left: 48px;
	margin-top:  -6px;
	
	-webkit-transform: rotate(-100deg);
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 2px;
	
	background: #255d19;
}
.phone_5{
	width: 6px;
	height: 8px;
	
	margin-top:  -10px;
	margin-left: 50px;
	
	-webkit-transform: rotate(90deg);
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 2px;
	
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 3px;
	
	background: #255d19;
}

/* Contact */
.contact{
	width: 120px;
	height: 110px;
	
	padding-top : 15px;
	padding-left: 20px;
	
	margin-top: -125px;
	margin-left: 120px;
}
.contact_bg{
	width:  80px;
	height: 80px;
	
	border-radius: 5px;
	background:    #fff;
}
.contact_left{
	width:  15px;
	height: 80px;
	
	margin-top: -80px;
	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#4c8fbe),color-stop(0.5,#1d5881),to(#4c8fbe));
}
/* Pins */
.contact_pin{
	width: 12px;
	height: 2px;
	
	border: 1px solid rgba(0,0,0,0.3);
	background: -webkit-gradient(linear,0% 0%,100% 0%,from(rgba(255,255,255,1)),color-stop(0.1,rgba(0,0,0,0.5)),color-stop(0.3,rgba(255,255,255,1)),color-stop(0.8,rgba(0,0,0,0.5)),to(rgba(255,255,255,1)));
}
.pin1{
	margin-top:  -65px;
	margin-left: -2px;
}
.pin2{
	margin-top:  3px;
	margin-left: -2px;
}
.pin3{
	margin-top:30px;
	margin-left: -2px;
}
.pin4{
	margin-top: 3px;
	margin-left:-2px;
}
.contact_divide{
	width:  2px;
	height: 80px;
	
	margin-top:  -80px;
	margin-left: 15px;
	z-index: 10;
	
	background: -webkit-gradient(linear,0% 0%,100% 0%,from(rgba(0,0,0,0.8)),to(#8fd1ff));
}
.contact_right{
	width:  65px;
	height: 80px;
	
	margin-top: -80px;
	margin-left:17px;
	
	z-index: 1;
	
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#2c94dd),color-stop(0.5,#1d5881),to(#2c94dd));
}
.portrait{
	margin-left: 40px;
	margin-top: -45px;
}
.head{
	width: 15px;
	height: 20px;
	
	background: #fff;
	
	border-top-left-radius: 6px;
	border-top-right-radius: 5px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius: 10px;
	
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#fff), to(#e0f1fc));
}
.neck{
	width: 9px;
	height: 6px;
	
	margin-left: 3px;
	margin-top: -2px;
	
	border-bottom-left-radius:3px;
	border-bottom-right-radius: 3px;
	
	background: #fff;
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#e0f1fc), to(#a8d3f1));
}
.body{
	width: 40px;
	height: 15px;
	
	margin-left: -11px;
	margin-top:  -3px;
	
	border-top-left-radius: 40px 20px;
	border-top-right-radius: 40px 20px;
	
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#a8d3f1), to(#e0f1fc));
}
.ear{
	width:19px;
	height:6px;
	
	background: #fff;
	
	margin-top: -28px;
	margin-left: -2px;
	
	border-top-left-radius:3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius: 6px;
}
.hair{
	width:  11px;
	height: 5px;
	
	margin-top: -15px;
	margin-left: 2px;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	background: #fff;
}

/* Browser */
.browser{
	width: 120px;
	height: 110px;
	
	margin-top: -125px;
	margin-left: 240px;
	
	padding-top: 15px;
	padding-left: 20px;
}
.browser_bg{
	width:  80px;
	height: 80px;
	
	border-radius: 5px;
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#b792dd),color-stop(0.5,#9160c4),to(#b792dd));
}
.browser_circle1{
	border-color: rgba(154,96,191,0.05);
}
.browser_circle2{
	border-color: rgba(154,96,191,0.2);
}
.browser_circle3{
	border-color: rgba(154,96,191,0.6);
}
.browser_center{
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#b792dd));

}
.earth{
	width: 42px;
	height: 42px;
	border-radius: 40px;
	border: 1px solid #9160c4;
	/*overflow: hidden;*/
	margin-top: -46px;
	margin-left: 19px;
}
.area{
	background: #9160c4;
}
.area1{
	width: 20px;
	height: 5px;
	
	position:relative;
	top: 18px;
	left: 9px;
	-webkit-transform: rotate(30deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
.area2{
	width: 15px;
	height: 6px;
	
	position:relative;
	top: 16px;
	left: 8px;
	-webkit-transform: rotate(30deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
.area3{
	width: 15px;
	height: 3px;
	
	position:relative;
	top: 15px;
	left: 10px;
	-webkit-transform: rotate(-20deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
.area4{
	width: 27px;
	height: 3px;
	
	position:relative;
	top: 18px;
	left: 7px;
	-webkit-transform: rotate(-50deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
.area5{
	width: 27px;
	height: 3px;
	
	position:relative;
	top: 15px;
	left: 4px;
	-webkit-transform: rotate(-70deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
.area6{
	width: 27px;
	height: 6px;
	
	position:relative;
	top: 7px;
	left: 2px;
	-webkit-transform: rotate(-80deg);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	
	margin-top: 0px;
}
/* SMS */
.sms{
	width: 120px;
	height: 110px;
	
	margin-top: -125px;
	margin-left: 360px;
	
	padding-left: 20px;
	padding-top:  15px;
}
.sms_bg{
	width: 80px;
	height: 80px;
	
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#ffd57c),color-stop(0.5,#ffb81e),to(#ffd57c));
	border-radius: 5px;
}
.sms_circle1{
	border: 2px solid rgba(255,184,30,0.05);
}
.sms_circle2{
	border: 2px solid rgba(255,184,30,0.4);
}
.sms_circle3{
	border: 2px solid rgba(255,184,30,0.6);
}
.sms_center{
	
	height: 40px;
	
	border-top-left-radius: 35px 30px;
	border-top-right-radius: 35px 30px;
	border-bottom-left-radius:35px 30px;
	border-bottom-right-radius:35px 30px;
	
	-webkit-transform: rotate(-5deg);
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#ffd57c));
}
.sms_horn{
	margin-left: 15px;
	margin-top:  6px;
	
	-webkit-transform: rotate(32deg);
}
.horn{
	width: 15px;
	height:15px;
	border-radius: 10px;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#feda8c),to(#fff));
}
.horn_mask{
	width: 15px;
	height:15px;
	border-radius: 10px;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ffb81e),to(#fccd67));
	
	margin-left: -7px;
	margin-top: -10px;
}
.sms_dot1{

	position:relative;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	
	left: 13px;
	top: 15px;
	
	background: #e5ab2c;
}
.sms_dot2{

	position:relative;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	
	left: 23px;
	top: 11px;
	
	background: #e5ab2c;
}
.sms_dot3{

	position:relative;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	
	left: 33px;
	top: 7px;
	
	background: #e5ab2c;
}

/* Locked screen */
.lock_screen{
	width: 480px;
	height:800px;
	border-radius: 10px;
	
	position:  absolute;
	top: 0px;
	left: 50%;
	margin-left: -240px;

}
.time_zone{
	width: 240px;
	height: 200px;
	
	margin: 0 auto;
	margin-top: 50px;
}
.time_dc{
	text-align: center;
	font-size:  4em;
	color:      #fff;
}
.time_date{
	text-align: center;
	font-size:  1.2em;
	color: #fff;
}
.slide_unlock{
	width: 480px;
	height: 240px;
	float:  bottom;
	margin: 0 auto;
	
	margin-top: 402px;
	margin-left: -121px;
	overflow: none;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.slide_bg{
	width: 480px;
	height: 240px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(255,255,255,0.1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.unlock_button{
	width: 60px;
	height: 60px;
	border-radius: 60px;
		cursor: pointer;
	background: rgba(240,240,240,1);
	border: 3px solid rgba(30,30,30,0.2);
	
	position: relative;
	left: 210px;
	top:  -220px;
}
.unlock_circle1{
	width: 60px;
	height:60px;
	border-radius: 60px;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(230,230,230,1)),to(rgba(210,210,210,1)));
}
.unlock_circle2{
	width: 50px;
	height:50px;
	border-radius: 60px;
	border: 2px solid rgba(30,30,30,0.05);
	
	position: relative;
	left: 3px;
	top:  3px;
}
.highlight{
	width: 68px;
	height:68px;
	border-radius: 60px;
	margin-top: -58px;
	margin-left: -4px;
}
.unlock_upp{
	width: 30px;
	height: 30px;
	overflow: hidden;
	
	margin-top: -7px;
	margin-left: 16px;
}
.top_half{
	width:13px;
	height:15px;
	
	border-radius: 25px;
	border: 3px solid #606060;
	
	margin-top: 17px;
}
.unlock_downp{
	width: 20px;
	height: 10px;
	
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 3px solid #606060;
	
	margin-left: 13px;
}
.flow_anim{
	
	margin: 0 auto;
	margin-top: -180px;
	margin-left: 230px;
}
.unlock_block1{
	width: 6px;
	height:6px;
	background: rgba(255,255,255,0.2);
	margin-left: 8px;
}
.unlock_block2{
	width: 6px;
	height:6px;
	background: rgba(255,255,255,0.2);
	margin-left: 8px;
	
	margin-top: 10px;
}
.unlock_block3{
	width: 6px;
	height:6px;
	background: rgba(255,255,255,0.2);
	margin-left: 8px;
	margin-top: 10px;
}
.unlock_arrow1{
	width:  15px;
	height: 4px;
	background: rgba(255,255,255,0.2);
	margin-left: 8px;
	
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-o-transform:      rotate(45deg);
	
	margin-top: 15px;
	margin-left: -3px;
}
.unlock_arrow2{
	width: 19px;
	height: 4px;
	background: rgba(255,255,255,0.2);
	margin-left: 6px;
	
	-webkit-transform: rotate(-45deg);
	-moz-transform:    rotate(-45deg);
	-o-transform:      rotate(-45deg);
	
	margin-top: -3px;
	margin-left: 7px;
}


/* Introduction */
.intro{
	margin-top: -800px;
}

/* Footer */
.footer{
	position: absolute;
	bottom: 0px;
	
}