body{
	background:-webkit-gradient(radial,50% 50%,0,50% 50%,1500,from(#fff),to(#000));
	background:-moz-radial-gradient(circle farthest-side,white,#808080);
	background:-op-radial-gradient(circle farthest-side,white,#808080);
	background:radial-gradient(circle farthest-side,white,#808080);
}
#header{
	width: 100%;
	height: 40px;
	text-align:right;
	position:absolute;
	top: 0px;
	left: 0px;
	
	background: #000;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#000),to(#444)); 
	
	border-bottom: 1px solid #000;
}
#renren{
	float:right;
	margin-top: 10px;
}
#alert_bar{
	display:none;
}
#title{
	text-align:center;
}
#main{
	
	
}
.window{
	width:300px;
	height:200px;
	text-align:center;
	background: #fff;
	border: solid 1px #808080;
	border-radius: 10px;
	
	-webkit-box-shadow: 2px 2px 5px #969696;
	-moz-box-shadow:    2px 2px 5px #969696; 
	-op-box-shadow:     2px 2px 5px #969696;
	-ms-box-shadow:		2px 2px 5px #969696;
	box-shadow:			2px 2px 5px #969696;	
	
	margin: auto;
}
.window:hover{
	cursor:pointer;
}
.window_cover{
	width: 280px;
	height: 150px;
	background: #909090;
	border: solid 1px #808080;
	overflow: hidden;
	
	position: relative;
	top: 10px;
	left: 10px;
}
.window_title{
	margin-top: 15px;
	font-family: 'Arial Black';
}
#intro{
	width: 100%;
}
#what{
	position:relative;
	left:-200px;
	top: 0px;
}
#who{
	position:relative;
	left:200px;
	top: -202px;
}
#mask{
	position:absolute;
	left: 0px;
	top:  0px;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(60,60,60,0.6);
}
#loading{
	width: 200px;
	height:145px;
	position:absolute;
	left:50%;
	margin-left:-100px;
	top:50%;
	margin-top:-72px;
	display:none;
	text-align:center;
	border: 5px solid rgba(20,20,20,0.2);
}
#dialog{
	position:absolute;
	width: 900px;
	display:none;
	
	top: 100px;
	left: 50%;
	margin-left: -450px;
	
	-webkit-box-shadow: 2px 2px 8px #303030;
	-moz-box-shadow: 	2px 2px 8px #303030;
	-op-box-shadow: 	2px 2px 8px #303030;
	-ms-box-shadow: 	2px 2px 8px #303030;
	box-shadow: 		2px 2px 8px #303030;
	
	background: #fff;
	
}
#dialog_close{
	position:absolute;
	top:  0px; 
	left: 870px;
	width:  30px;
	height: 30px;
}